body {
    
}

header {
    background-color: rgb(19, 35, 104);
    padding: 20px;
  
}

header a {
    padding: 10px;
    color: rgb(240, 248, 255);
}

.carrinhoo {
    padding-left: 50%;
}

.p-img-1 {

    padding: 3%;
    width: 400px;
    height: 200px;
}

.p-img-2 {
    width: 150px;
    
    
    padding-left: 50px;
    

}

.acougue {
    
}

